$cellWidth: 100px;
$cellIndent: 1px;
$fontSize: 30px;

$firstDayMargin:
  "mon" 1,
  "tue" 102px,
  "wed" 203px,
  "thu" 304px,
  "fri" 405px,
  "sat" 506px,
  "sun" 607px;

$daysInMonth:
  "28" 28,
  "29" 29,
  "30" 30,
  "31" 31;
